.app-wrapper{
  margin-top: 50px;
  font-family: Exo;
  color: white;
  text-align: center;
  display: grid;
  grid-template-areas:
    'g h d'
    'c c c';
  justify-items: center;
}

h1{
  font-size: 36px;
  grid-area: h;
}